<div class="container-fluid  ">
  <div class="row">
    <div class="col-12 text-center text-light bg-dark">
      <h1>Logger Switch</h1>
    </div>
    <div class="container">
      <div class="col-12 my-5">
        <h5>Save Logger messages to File</h5>
        <label class="switch switchFile">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
      <div class="col-12 my-5">
        <h5>Save Logger messages to DataBase</h5>
        <label class="switch switchdb">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
      <div class="col-12 my-5">
        <h5>Send Logger messages to Email</h5>
        <label class="switch">
          <input disabled type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-sm"></table>
    </div>
  </div>
</div>
