<div class="container-fluid bg-dark text-light">
  <div class="row">
    <div class="col-4 px-5  offset-8">
      <form action="/user/showFilter" method="post">
        <div class="form-group">
          <label for="loglevel">
            <h2 class="text-warning">Select Log Level</h2>
          </label>
          <select
            class="form-control"
            name="loglevel"
            id="loglevel"
            onchange="this.form.submit()"
          >
            <option>info</option>
            <option>error</option>
            <option>warn</option>
            <option>debug</option>
            <option>silly</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 m-5 table-responsive" style="height:500px">
      <table class="table table-sm ">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>timestamp</th>
            <th>level</th>
            <th>message</th>
          </tr>
        </thead>

        <tbody>
          <% for(var i=0; i < logs.length; i++) { %>
          <tr>
            <td><%= logs[i].id %></td>
            <th class="text-success"><%= logs[i].timestamp %></th>
            <td class="text-danger"><%= logs[i].level %></td>
            <td>
              <%= JSON.stringify(logs[i].message)%>
            </td>
            </td>
          </tr>
          <% } %> 
          <tr>  </tr>
        </tbody>
      </table>
        
    </div>
  </div>
</div>
